@base: 10px;
@blue: #385BAE;
@light-blue: #EDF1F6;

// Roles colors
@leader: #93DFE2;
@photo: #94E3E2;
@team: #93E29A;
@actor: #E2BA93;
@dj: #93BAE2;
@director: #E2E394;
@musician: #93D2E2;
@decorator: #9593E2;
@coordinator: #BE93E2;

.services {
	* {
		box-sizing: border-box;
	}
	&__title {

	}
	&__subtitle {

	}
	&__container {
		.clearfix();
		padding: @base 0;
	}
	&__area {
		float: left;
		width: 356px;
		border-image: url('../assets/img/lines.png') 6 round round;
		background: url('../assets/img/drop-bg.png') #E1E9F1;
		background-blend-mode: soft-light;
		box-shadow: inset 0 0 30px rgba(54,98,136,.4);
		padding: 5px;
		padding-right: 0;
		padding-bottom: 0;
		margin-right: @base/2;
		border-radius: 3px;
	}
	&__area-list {
		list-style: none;
		padding: 0;
		margin: 0;
		.clearfix();
	}
	&__area-item {
		float: left;
		width: @base*11;
		height: @base*11;
		position: relative;
		border: solid 1px #fff;
		margin: 0;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	&__available {
		width: 600px;
		float: left;
		position: relative;
	}
	&__available-empty-list {
		position: absolute;
		left: 0;
		top: 0;
		list-style: none;
		padding: 0;
		margin: 0;
		.clearfix();
		z-index: 1;
	}
	&__available-empty-item {
		float: left;
		width: @base*11;
		height: @base*11;
		margin: 0;
		margin-right: @base;
		margin-bottom: @base;
		background: url('../assets/img/selected.png') no-repeat;
		background-size: cover;
		border: solid 1px #9ABEE4;
	}
	&__available-list {
		position: relative;
		list-style: none;
		padding: 0;
		margin: 0;
		z-index: 5;
		.clearfix();
	}
	&__available-item {
		float: left;
		width: @base*11;
		height: @base*11;
		margin: 0;
		margin-right: @base;
		margin-bottom: @base;
		&_leader {
			.services__available-item-overlay {
				background: @leader;
			}
			.services__available-icon {
				background: url('../assets/img/leader.png');
				width: 49px;
				height: 58px;
			}
		}
		&_photographer {
			.services__available-item-overlay {
				background: @photo;
			}
			.services__available-icon {
				background: url('../assets/img/photographer.png');
				width: 60px;
				height: 43px;
			}
		}
		&_team-building {
			.services__available-item-overlay {
				background: @team;
			}
			.services__available-icon {
				background: url('../assets/img/team-building.png');
				width: 79px;
				height: 79px;
			}
		}
		&_actor {
			.services__available-item-overlay {
				background: @actor;
			}
			.services__available-icon {
				background: url('../assets/img/actor.png');
				width: 78px;
				height: 44px;
			}
		}
		&_dj {
			.services__available-item-overlay {
				background: @dj;
			}
			.services__available-icon {
				background: url('../assets/img/dj.png');
				width: 62px;
				height: 62px;
			}
		}
		&_director {
			.services__available-item-overlay {
				background: @director;
			}
			.services__available-icon {
				background: url('../assets/img/director.png');
				width: 69px;
				height: 63px;
			}
		}
		&_musician {
			.services__available-item-overlay {
				background: @musician;
			}
			.services__available-icon {
				background: url('../assets/img/musician.png');
				width: 72px;
				height: 72px;
			}
		}
		&_decorator {
			.services__available-item-overlay {
				background: @decorator;
			}
			.services__available-icon {
				background: url('../assets/img/decorator.png');
				width: 71px;
				height: 71px;
			}
		}
		&_coordinator {
			.services__available-item-overlay {
				background: @coordinator;
			}
			.services__available-icon {
				background: url('../assets/img/coordinator.png');
				width: 70px;
				height: 75px;
			}
		}
		&_selected {

		}
	}
	&__available-inner {
		position: relative;
	}
	&__available-title {
		margin: 0;
		position: absolute;
		left: 0;
		bottom: @base;
		font-size: 16px;
		color: #fff;
		width: 100%;
		text-align: center;
	}
	&__available-item-overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: .7;
	}
	&__available-bg {
		display: inline-block;
		width: 100%;
		height: 100%;
	}
	&__available-icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -60%);
	}
	&__info {
		width: @base*60;
		padding: @base 0;
	}
	&__info-text {

	}
	&__info-gallery {
		padding: @base 0;
	}
	&__form {

	}
	&__form-row {
		display: inline-block;
		background: @light-blue;
		padding: @base*2 @base*5.5;
		.clearfix();
	}
	&__input {
		height: @base*4.5;
		line-height: @base*4.5;
		padding: 0 @base*2;
		float: left;
		margin-right: @base;
	}
	&__button {
		border: none;
		background: @blue;
		color: #fff;
		line-height: @base*4.5;
		text-align: center;
		padding: 0 @base*8;
		transition: opacity .3s;
		float: left;
		&:hover {
			opacity: .8;
		}
	}
	&__short {

	}
	&__short-title {

	}
	&__short-list {

	}
	&__short-item {

	}
	&__short-link {

	}
}
