@base: 10px;
@blue: #385BAE;
@light-blue: #EDF1F6;

// Roles colors
@leader: #93DFE2;
@photo: #94E3E2;
@team: #93E29A;
@artist: #E2BA93;
@dj: #93BAE2;
@director: #E2E394;
@musician: #93D2E2;
@decorator: #9593E2;
@coordinator: #BE93E2;

.services {
	* {
		box-sizing: border-box;
	}
	&__title {

	}
	&__subtitle {

	}
	&__container {
		.clearfix();
		padding: @base 0;
	}
	// ----------------------------- Drop --------------------------------
	&__drop {
		float: left;
		width: 376px;
		height: 376px+73px;
		border-image: url('../assets/img/lines.png') 6 round round;
		background: url('../assets/img/drop-bg.png') #E1E9F1;
		background-blend-mode: soft-light;
		box-shadow: inset 0 0 30px rgba(54,98,136,.4);
		margin-right: @base/2;
		border-radius: 3px;
		position: relative;
	}
	&__empty-list {
		position: absolute;
		left: @base;
		top: @base;
		list-style: none;
		padding: 0;
		margin: 0;
		.clearfix();

	}
	&__empty-item {
		float: left;
		width: @base*11;
		height: @base*11;
		position: relative;
		border: solid 1px #fff;
		margin: 0;
		margin-right: @base;
		margin-bottom: @base;
	}
	&__list {
		position: absolute;
		height: @base*35;
		left: @base;
		top: @base;
		list-style: none;
		padding: 0;
		margin: 0;
		.clearfix();
		z-index: 1;
	}
	&__item {
		width: @base*11;
		height: @base*11;
		float: left;
		margin: 0;
		margin-right: @base;
		margin-bottom: @base;
		cursor: pointer;
		z-index: 1;

		&_leader {
			.services__item-overlay {
				background: @leader;
			}
			.services__item-icon {
				background: url('../assets/img/leader.png');
			}
			&:hover {
				.services__item-icon {
					background: url('../assets/img/anim_ved.gif');
				}
			}
		}
		&_photographer {
			.services__item-overlay {
				background: @photo;
			}
			.services__item-icon {
				background: url('../assets/img/photographer.png');
			}
			&:hover {
				.services__item-icon {
					background: url('../assets/img/anim_fotogr.gif');
				}
			}
		}
		&_team-building {
			.services__item-overlay {
				background: @team;
			}
			.services__item-icon {
				background: url('../assets/img/team-building.png');
			}
			&:hover {
				.services__item-icon {
					background: url('../assets/img/anim_tb.gif');
				}
			}
		}
		&_artist {
			.services__item-overlay {
				background: @artist;
			}
			.services__item-icon {
				background: url('../assets/img/actor.png');
			}
			&:hover {
				.services__item-icon {
					background: url('../assets/img/anim_artist.gif');
				}
			}
		}
		&_dj {
			.services__item-overlay {
				background: @dj;
			}
			.services__item-icon {
				background: url('../assets/img/dj.png');
			}
			&:hover {
				.services__item-icon {
					background: url('../assets/img/anim_dj.gif');
				}
			}
		}
		&_director {
			.services__item-overlay {
				background: @director;
			}
			.services__item-icon {
				background: url('../assets/img/director.png');
			}
			&:hover {
				.services__item-icon {
					background: url('../assets/img/anim_dir.gif');
				}
			}
		}
		&_musician {
			.services__item-overlay {
				background: @musician;
			}
			.services__item-icon {
				background: url('../assets/img/musician.png');
			}
			&:hover {
				.services__item-icon {
					background: url('../assets/img/anim_music.gif');
				}
			}
		}
		&_decorator {
			.services__item-overlay {
				background: @decorator;
			}
			.services__item-icon {
				background: url('../assets/img/decorator.png');
			}
			&:hover {
				.services__item-icon {
					background: url('../assets/img/anim_decor.gif');
				}
			}
		}
		&_coordinator {
			.services__item-overlay {
				background: @coordinator;
			}
			.services__item-icon {
				background: url('../assets/img/coordinator.png');
			}
			&:hover {
				.services__item-icon {
					background: url('../assets/img/anim_derij.gif');
				}
			}
		}
		&.click1 {
			cursor: move;
			position: relative;
			z-index: 10000 !important;
		}
		&.pep-active {
			cursor: move;
			// position: relative;
			// box-shadow: 0 0 5px rgba(0,0,0,.5);
			z-index: 10;
		}
		&.pep-ease {

		}
		&.active {
			&.services__item_artist {
				.services__item-icon {
					background: url('../assets/img/anim_artist.gif');
				}
			}
			&.services__item_leader {
				.services__item-icon {
					background: url('../assets/img/anim_ved.gif');
				}
			}
			&.services__item_team-building {
				.services__item-icon {
					background: url('../assets/img/anim_tb.gif');
				}
			}
			&.services__item_photographer {
				.services__item-icon {
					background: url('../assets/img/anim_fotogr.gif');
				}
			}
			&.services__item_dj {
				.services__item-icon {
					background: url('../assets/img/anim_dj.gif');
				}
			}
			&.services__item_director {
				.services__item-icon {
					background: url('../assets/img/anim_dir.gif');
				}
			}
			&.services__item_musician {
				.services__item-icon {
					background: url('../assets/img/anim_music.gif');
				}
			}
			&.services__item_decorator {
				.services__item-icon {
					background: url('../assets/img/anim_decor.gif');
				}
			}
			&.services__item_coordinator {
				.services__item-icon {
					background: url('../assets/img/anim_derij.gif');
				}
			}
		}
	}
	&__item-inner {
		width: @base*11;
		height: @base*11;
		position: relative;
		z-index: 1;
	}
	// ----------------------------- Drag --------------------------------
	&__drag {
		width: 600px;
		float: left;
		position: relative;
		.services__empty-list {
			width: 600px;
		}
		.services__empty-item {
			background: url('../assets/img/selected.png') no-repeat;
			background-size: cover;
			border: solid 1px #9ABEE4;
		}
		.services__list {
			position: relative;
			list-style: none;
			padding: 0;
			margin: 0;
			z-index: 5;
			.clearfix();
		}
		.services__item {
			position: absolute;
			overflow: hidden;
			&:nth-of-type(1) {
				left: (@base*11+@base)*0;
			}
			&:nth-of-type(2) {
				left: (@base*11+@base)*1;
			}
			&:nth-of-type(3) {
				left: (@base*11+@base)*2;
			}
			&:nth-of-type(4) {
				left: (@base*11+@base)*3;
			}
			&:nth-of-type(5) {
				left: (@base*11+@base)*4;
			}
			&:nth-of-type(6) {
				left: (@base*11+@base)*0;
				top: (@base*11+@base);
			}
			&:nth-of-type(7) {
				left: (@base*11+@base)*1;
				top: (@base*11+@base);
			}
			&:nth-of-type(8) {
				left: (@base*11+@base)*2;
				top: (@base*11+@base);
			}
			&:nth-of-type(9) {
				left: (@base*11+@base)*3;
				top: (@base*11+@base);
			}
			&:nth-of-type(10) {
				left: (@base*11+@base)*4;
				top: (@base*11+@base);
			}
			&:nth-of-type(11) {
				left: (@base*11+@base)*0;
				top: (@base*11+@base)*2;
			}
			&:nth-of-type(12) {
				left: (@base*11+@base)*1;
				top: (@base*11+@base)*2;
			}
			&:nth-of-type(13) {
				left: (@base*11+@base)*2;
				top: (@base*11+@base)*2;
			}
			&:nth-of-type(14) {
				left: (@base*11+@base)*3;
				top: (@base*11+@base)*2;
			}
			&:nth-of-type(15) {
				left: (@base*11+@base)*4;
				top: (@base*11+@base)*2;
			}
			&:nth-of-type(16) {
				left: (@base*11+@base)*0;
				top: (@base*11+@base)*3;
			}
			&:nth-of-type(17) {
				left: (@base*11+@base)*1;
				top: (@base*11+@base)*3;
			}
			&:nth-of-type(18) {
				left: (@base*11+@base)*2;
				top: (@base*11+@base)*3;
			}
			&:nth-of-type(19) {
				left: (@base*11+@base)*3;
				top: (@base*11+@base)*3;
			}
			&:nth-of-type(20) {
				left: (@base*11+@base)*4;
				top: (@base*11+@base)*3;
			}
		}
	}
	&__item-title {
		margin: 0;
		position: absolute;
		left: 0;
		bottom: @base/2;
		font-size: 16px;
		color: #fff;
		width: 100%;
		text-align: center;
	}
	&__item-overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: .7;
	}
	&__item-bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	&__item-icon {
		position: absolute;
		width: 100%;
		height: 100%;
		// margin-top: -@base/2;
		// left: 50%;
		// top: 50%;
		// transform: translate(-50%, -60%);
	}



	&__info {
		width: @base*60;
		padding: @base 0;
	}
	&__info-text {

	}
	&__info-gallery {
		padding: @base 0;
	}
	// ----------------------------- Form --------------------------------
	&__form {
		position: absolute;
		left: @base;
		right: @base;
		bottom: @base/2;
		// box-shadow: 0 0 8px lighten(@blue, 25%);
	}
	&__form-row {
		display: inline-block;
		padding: @base @base*1.2;
		width: 100%;
		background: @light-blue;
		border: solid 1px #fff;
		.clearfix();
	}
	&__input {
		height: @base*4.5;
		line-height: @base*4.5;
		padding: 0 @base;
		float: left;
		margin-right: @base;
		width: @base*18;
	}
	&__button {
		border: none;
		background: @blue;
		color: #fff;
		font-size: 16px;
		line-height: @base*4.5;
		text-align: center;
		padding: 0 @base*2.5;
		transition: opacity .3s;
		float: right;
		&:hover {
			opacity: .8;
		}
	}
	// ----------------------------- Short info --------------------------------
	&__short {
		display: none;
	}
	&__short-title {

	}
	&__short-list {

	}
	&__short-item {

	}
	&__short-link {

	}
	// ----------------------------- Selected avatar --------------------------------
	&__selected {
		&-avatar {
			position: absolute;
			left: @base*2;
			right: @base*2;
			top: @base*2;
			bottom: @base*9.5-2;
			z-index: 10;
		}
		&-img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		&-controls {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index: 5;
			&:hover {
				.services__selected-add {
					transform: translate(-50%, 0);
				}
				.services__selected-remove {
					transform: translate(-50%, 0);
				}
				.services__selected-close {
					transform: translateX(0);
				}
			}
		}
		&-text {
			line-height: 40px;
		}
		&-add {
			.clearfix();
			transition: opacity .3s, transform 0.3s;
			cursor: pointer;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 300px);
			bottom: @base;
			&:hover {
				opacity: .8;
			}
			.icon {
				display: inline-block;
				background: url('../assets/img/plus.png');
				width: 41px;
				height: 40px;
				float: left;
			}
			span {
				float: left;
				padding: 0 @base;
				background: #8FDE8D;
				display: inline-block;
				color: #fff;
			}
		}
		&-remove {
			.clearfix();
			transition: opacity .3s, transform 0.3s;
			cursor: pointer;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 300px);
			bottom: @base;
			&:hover {
				opacity: .8;
			}
			.icon {
				display: inline-block;
				background: url('../assets/img/minus.png');
				width: 41px;
				height: 40px;
				float: left;
			}
			span {
				float: left;
				padding: 0 @base;
				background: #8F8DDE;
				display: inline-block;
				color: #fff;
			}
		}
		&-close {
			display: inline-block;
			transition: opacity .3s, transform 0.3s;
			cursor: pointer;
			position: absolute;
			right: @base;
			top: @base;
			transform: translateX(300px);
			&:hover {
				opacity: .8;
			}
			.icon {
				display: inline-block;
				background: url('../assets/img/close.png');
				width: 41px;
				height: 40px;
				float: left;
			}
		}
	}
}
